pipeline/Pipeline_CopyViewToTable.json
{
	"name": "Pipeline_CopyViewToTable",
	"properties": {
		"activities": [
			{
				"name": "Copy from source to target",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate target if exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:20:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RS_ETL_Source",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.Source_SchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.Source_ViewName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "RS_ETL_Target",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.Target_SchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.Taget_TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Check if target exists",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Run stored procedure if requested",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RS_ETL_Target",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.Target_SchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.Taget_TableName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "Truncate target if exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check if target exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Check if target exists').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Truncate target",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:01:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "NonQuery",
										"text": {
											"value": "@concat('truncate table [',pipeline().parameters.Target_SchemaName,'].[',pipeline().parameters.Taget_TableName,']')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Run stored procedure if requested",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(pipeline().parameters.Optional_PreRunSp_Name))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Run stored procedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:20:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat('[',pipeline().parameters.Optional_PreRunSp_SchemaName,'].[',pipeline().parameters.Optional_PreRunSp_Name,']')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Source_SchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"Source_ViewName": {
				"type": "string"
			},
			"Target_SchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"Taget_TableName": {
				"type": "string"
			},
			"Optional_PreRunSp_SchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"Optional_PreRunSp_Name": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-24T11:03:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}